.card-image {
  position: relative;
  width: 100%;
  border: 2px solid var(--border);
  padding-bottom: 56.25%;
}

.card-image-marker {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
}

.card-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 51.875rem;
  margin: 0 auto;
  padding: 0.75rem 2.5rem 0.25rem;
}

.article-kicker {
  height: 2.625rem;
  margin-top: 2.375rem;
  margin-bottom: 1rem;
}

.article-title {
  padding-bottom: 0.25rem;
  font-weight: 900;
  font-size: 5.5rem;
  line-height: 4.75rem;
  text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
  main header {
    max-width: 40rem;
    padding: 1rem 1.25rem;
  }

  .article-kicker {
    height: 2.625rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .article-title {
    font-size: 3.875rem;
    line-height: 3.25rem;
  }
}

@media screen and (max-width: 768px) {
  .card-image {
    margin-top: 1rem;
  }

  main header {
    padding: 1.5rem 1.25rem 0.5rem;
  }

  .article-kicker {
    height: 2.25rem;
    margin-bottom: 0.875rem;
  }
}
